<h1>Listing instances</h1>

<table>
  <tr>
    <th>Expenditure</th>
    <th>Amount</th>
    <th>Year</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instances.each do |instance| %>
  <tr>
    <td><%= instance.expenditure %></td>
    <td><%= instance.amount %></td>
    <td><%= instance.year %></td>
    <td><%= instance.city %></td>
    <td><%= link_to 'Show', instance %></td>
    <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
    <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instance', new_instance_path %>
