<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @icon.name %>
</p>

<p>
  <b>Main text:</b>
  <%= @icon.main_text %>
</p>

<p>
  <b>Alt text:</b>
  <%= @icon.alt_text %>
</p>

<p>
  <b>Image:</b>
  <%= @icon.image %>
</p>


<%= link_to 'Edit', edit_icon_path(@icon) %> |
<%= link_to 'Back', icons_path %>
